<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Yazı Güncelle</title>
</head>
<body>
    <h2>Yazıyı Güncelle</h2>
    <form method="POST">
        {% csrf_token %}
        Başlık: <input type="text" name="baslik" value="{{ yazi.baslik }}"><br>
        Yazar:<input type="text" name="yazar" value="{{ yazi.yazar}}"><br>
        İçerik: <br>
        <textarea name="icerik">{{ yazi.icerik }}</textarea><br>
        <button type="submit">Güncelle</button>
    </form>
</body>
</html>
