{% extends "blog/base.html" %}

{% block title  %}Tüm Yazılar {% endblock %}

{% block content  %}

<h2>  📜 Blog Yazıları </h2>

<ul>
    {% for yazi in yazilar  %}
        <li>
            <h2>{{ yazi.baslik }}</h2>
            <p>{{ yazi.icerik|truncatewords:20 }}</p> <!-- İçeriği kısaltarak göster -->
            <a href="{% url 'yazi_detay' yazi.id %}">Detayını Gör</a>  <!-- Yazıya gitme linki -->
    <hr>
            <a href="{% url 'guncelle' yazi.id %}">✏️ Güncelle</a> |
            <a href="{% url 'sil' yazi.id %}">🗑️ Sil</a>

        </li>
    {% empty %}
    <p>Henüz hiç bir yazı yoktur</p>
    {% endfor%}    

</ul>

{% endblock %}

